.registration-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Baloo Bhaina 2', cursive;
}

.registration-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Baloo Bhaina 2', cursive;
}

.form-group input[type="file"] {
  padding: 3px;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background: linear-gradient(to right, #ff6f91, #3b82f6);
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
  transition: background 0.3s ease;
  font-family: 'Baloo Bhaina 2', cursive;
}

button[type="submit"]:hover {
  background: linear-gradient(to right, #ff3d68, #3262d9);
}
img {
    max-width: 100%;
    height: auto;
  }
  
  input[type="file"] {
    margin-top: 10px;
  }
  