<form #movieForm="ngForm" (ngSubmit)="submitMovie()" class="registration-form">
  <h2>Registro de Película</h2>
<div class="form-group">
      <label for="title">Título</label>
      <input type="text" name="title" [(ngModel)]="movie.title" required>
    </div>

    <div class="form-group">
      <label for="description">Descripción</label>
      <textarea  name="description" [(ngModel)]="movie.description" required></textarea>
    </div>
  
    <div class="form-group">
      <label for="category">Categoría</label>
      <input type="text" name="category" [(ngModel)]="movie.category" required>
    </div>

  
    <div class="form-group">
      <label for="poster">Póster</label>
      <input type="text" name="director" [(ngModel)]="movie.poster" required>
    </div>
  
    <div class="form-group">
      <label for="video">Video URL</label>
      <input type="url" name="video" [(ngModel)]="movie.video" required>
    </div>
  
    
  
    <button type="submit">Save</button>
  </form>
  


